header{
  display: flex;
  gap: 5px;
  padding: 10px;

}
main{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}
