#wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 100px;

  input {
    margin-top: 50px;
    text-align: center;
  }

}

#button-wrapper {
  //display: flex;
  //justify-content: center;
  margin-top: 10px;
  //width: 200px;
}
